@{
	Layout = "~/Shared/_Layout.cshtml";
	var db = Database.Open("Klantgegevens");
	var ID = db.QueryValue("SELECT MAX(KlantID) from klantgegevens") + 1;
	var errorText = "";

	if (IsPost)
	{
		var first_name = Request.Form["first_name"];
		var last_name = Request.Form["last_name"];
		string adres = Request.Form["adres"];
		string huisnummer = Request.Form["huisnummer"];
		var postcode = Request.Form["postcode"];
		var woonplaats = Request.Form["woonplaats"];
		var telefoonnummer = Request.Form["telefoonnummer"];
		var emailadres = Request.Form["emailadres"];
		var textarea = Request.Form["textarea"];

		var query = "INSERT INTO klantgegevens (Voornaam,Achternaam,Adres,Huisnummer,Postcode,Woonplaats,Telefoonnummer,Emailadres,Bijzonderheden) VALUES (@0,@1,@2,@3,@4,@5,@6,@7,@8)";
		db.Execute(query,first_name, last_name, adres, huisnummer, postcode, woonplaats, telefoonnummer, emailadres, textarea);

		errorText = "De klant is toegevoegd.";
	}
}


<div class="row">
	<div class="col s12 m6 l3">
		<div class="card-panel grey darken-4">

			<div class="card-content ">
				<div class="row white-text">
					<span style="font-size: 16px;" class="card-title">Klant toevoegen</span>
					<form class="col s12" method="post">
						<div class="row">
							<div class="white-text input-field col s2">
								<input name="id" type=text value="@ID" disabled>
								<label for="Klant ID">#</label>
							</div>
							<div class="input-field col s5">
								<input name="first_name" type="text" required>
								<label for="first_name">Voornaam</label>
							</div>
							<div class="input-field col s5">
								<input name="last_name" type="text" required>
								<label for="last_name">Achternaam</label>
							</div>
						</div>

						<div class="row">
							<div class="input-field col s12">
								<input name="adres" type="text" required>
								<label for="adres">Adres</label>
							</div>
						</div>

						<div class="row">
							<div class="input-field col s8">
								<input name="postcode" type="text" required>
								<label for="postcode">Postcode</label>
							</div>
							<div class="input-field col s4">
								<input name="huisnummer" type="text" required>
								<label for="huisnummer">Huisnummer</label>
							</div>
						</div>

						<div class="row">
							<div class="input-field col s12">
								<input name="woonplaats" type="text" required>
								<label for="woonplaats">Woonplaats</label>
							</div>
						</div>

						<div class="row">
							<div class="input-field col s12">
								<input name="telefoonnummer" type="tel" required>
								<label for="telefoonnummer">Telefoonnummer</label>
							</div>
						</div>

						<div class="row">
							<div class="input-field col s12">
								<input name="emailadres" type="text">
								<label for="emailadres">Email adres</label>
							</div>
						</div>

						<div class="row">
							<div class="input-field col s12">
								<textarea name="textarea" type="text" class="materialize-textarea" data-length="120"></textarea>
								<label for="bijzonderheden">Bijzonderheden</label>
							</div>
						</div>
						<button class="btn right taximengeryellow" runat="server" type="submit" name="action" id="form">Bevestig</button>

					</form>
				</div>
			</div>
		</div>
	</div>
</div>