/*GENERAL*/
/*NAVBAR*/

TextIcon {
    font-size: 14px;
    padding: 12px 20px;
}

nav.nav-center ul {
    text-align: center;
}

nav.nav-center ul li {
    display: inline;
    float: none;
}

nav.nav-center ul li a {
    font-size: 18px;
    display: inline-block;
}

.dropdown-content {
    min-width: 155px;
    
}

.dropdown-content li a {
    color: black !important;
}

    .dropdown-content li > span {
        color: black !important;
    }

.dropdown-content li a i {
    margin: 0 10px 0 0;
}
     
/*END OF GENERAL*/


/*LOGIN PAGE*/
/* label color */
.input-field label {
    color: white;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: white !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #ffa50a !important;
    box-shadow: 0 1px 0 0 #ffa50a !important;
}
/* label focus color */
.input-field input[type=password]:focus + label {
    color: white !important;
}
/* label underline focus color */
.input-field input[type=password]:focus {
    border-bottom: 1px solid #ffa50a !important;
    box-shadow: 0 1px 0 0 #ffa50a !important;
}

/* label focus color */
.input-field input[type=tel]:focus + label {
	color: white !important;
}
/* label underline focus color */
.input-field input[type=tel]:focus {
	border-bottom: 1px solid #ffa50a !important;
	box-shadow: 0 1px 0 0 #ffa50a !important;
}

textarea.materialize-textarea:focus + label {
	color: white !important;
}

textarea.materialize-textarea:focus {
	border-bottom: 1px solid #ffa50a !important;
	box-shadow: 0 1px 0 0 #ffa50a !important;
}

.input-field input[type=text]:disabled + label {
	color: white !important;
}

.input-field input[type="text"]:disabled {
	color: white !important;
	border-bottom: 1px solid #989795 !important;
	box-shadow: 0 1px 0 0 #989795 !important;
}


.btn:focus {
	background-color: #ff5400;
	color: white;
}

.btn:hover {
    background-color: #ffa50a;
    color: white;
}

.btn:active {
    background-color: #ff5400;
    color: white;
}

.taximengeryellow {
    background-color: #FED12E;
    color: black;
}

.errorText {
    color: red;
    position: absolute;
    bottom: 0px;
    font-size: small;
}
/*END OF LOGIN PAGE*/


/*HOME*/
/*LOGO SIZE*/
.brand-logo {
    height: 100%;
}

.nav ul li:hover {
    background-color: greenyellow !important;
}

.Pointer {
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}


.topcorner {
    position: absolute;
    top: 0;
    right: 20px;
}

/*END OF HOME*/

/*SETTING PAGE*/
.right {
    float: right !important;
    margin-bottom: -15px;
}
/*END OF SETTING PAGE*/

.succesText {
    color: green;
    position: absolute;
    bottom: 0px;
    font-size: small;
}

.errorText {
    color: red;
    position: absolute;
    bottom: 0px;
    font-size: small;
}




/*END OF SETTING PAGE*/

/*CUSTOMER PAGE*/
/* label focus color */
.input-field input[type=search]:focus + label {
	color: white !important;
	background-color: #e0e0e0 !important;
}
/* label underline focus color */
.input-field input[type=search]:focus {
	border-bottom: 1px solid #ffa50a !important;
	box-shadow: 0 1px 0 0 #ffa50a !important;
	background-color: #e0e0e0 !important;
}

.disabled {
	color: white !important;
}


/*TABLE*/
.ellipsis {
    max-width: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

